<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../styles.css" />
    <link rel="icon" type="image/svg" href="../logos/favicon.svg" />
    <title>Menu Mobile</title>
  </head>
  <body>
    <nav class="mobile-menu mobile-only" aria-label="Main menu">
      <section class="mobile-menu__categories">
        <h1 class="title">Categories</h1>
        <ul>
          <li><a href="#">All</a></li>
          <li><a href="#">Food</a></li>
          <li><a href="#">Electronics</a></li>
          <li><a href="#">Tools</a></li>
          <li><a href="#">Other</a></li>
        </ul>
      </section>

      <ul class="mobile-menu__account">
        <li><a href="#">My orders</a></li>
        <li><a href="#">My account</a></li>
      </ul>

      <ul class="mobile-menu__session">
        <li><a href="#" class="email">email@uniboyaca.edu.co</a></li>
        <li><a href="#" class="sign-out">Sign out</a></li>
      </ul>
    </nav>
  </body>
</html>